/* TEMP. FIX, thanks Discord :( */
.private-channels + div[class*="container-"] {
  background-color: var(--dark-highlight);
}

.channels-wrap > div[class*="container-"] {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  background-color: var(--dark-primary);
  border-bottom: 0;
}

div[class*="nameDefault-"], div[class*="nameHovered-"], div[class*="nameCollapsed"], div[class*="nameHoveredCollapsed"] {
  text-transform: none;
  font-size: 15px;
}


/* Modal */
/* BOTH */
.modal .modal-inner > .flex-nowrap { background: transparent; }
.modal-content { background-color: transparent; }
.modal-content .form-inner p { color: #fff; }
/* END: Modal */

/* Markdown */
/* BOTH */
.markdown-modal .markdown-modal-header { text-align: center; }
.markdown-modal, .markdown-modal .markdown-modal-header {
  background-color: var(--dark-highlight);
  color: #fff;
  border-radius: 0;
  border-bottom: none;
}
.markdown-modal .scroller-wrap { background-color: var(--dark-primary); }
.markdown-modal .markdown-modal-footer { background-color: var(--dark-secondary); border-top: none; }
/* END: Markdown */


/* Random CSS Meme */
.create-guild-container.deprecated { background-color: var(--dark-highlight); }
.create-guild-container.deprecated .form.deprecated .form-inner { background-color: transparent; }
.create-guild-container.deprecated .action { background-color: var(--dark-primary); }
div[class*="modal-"] div[class*="header-"] { background-color: var(--dark-highlight); }
.theme-dark div[class*="footer-"] { background-color: var(--dark-secondary); }
video[autoplay] { display: none; }
div[class*="modal-"] div[class*="header-"] + div[class*="scrollerWrap-"] {
  background-color: var(--dark-primary)!important;
  border-radius: 0;
  padding-top: 5px;
}


/* Selfish part xD */
/*
#user-profile-modal .avatar-wrapper div[style*="background-image: url(\"https://cdn.discordapp.com/avatars/86477779717066752"] .status {
  position: absolute;
  z-index: 10000;
  top: 5px;
  right: -135px;
  height: 20px;
  width: 140px;
  border-radius: 5px;
  border: 2px solid #fff;
}

#user-profile-modal .avatar-wrapper div[style*="background-image: url(\"https://cdn.discordapp.com/avatars/86477779717066752"] .status:after {
  content: 'Theme Developer';
  padding-left: 8px;
  color: #fff;
  font-weight: bold;
}
*/
